#containersignin{
    width: 1480px;
    /* height: 100px; */
    height: 500px;
    /* border: 2px solid green; */
    display: flex;
}
.container-register{
    height: 10px;
}
#leftside{
    /* border: 2px solid gold; */
    width: 500px;
    height: 600px;
    margin-left: 500px;
    
    margin-top: 20px;
    font-size: 26px;
    
    padding-top: 30px;
}
#rightsidesigin{
    height: 500px;
}
#passwordsigin{
    font-size: 20px;
}
#passwordformsignin{
    font-size: 20px;
    margin-left: 10px;
}
#emailnew{
    font-size: 20px;
}
#emailform{
    font-size: 20px;
}
#loginbutton{
    font-size: 20px;
}
#rightsideregister{
    /* border: 2px solid red; */
    width: 500px;
    height: 500px;
    margin-left: 10px;
}
.containeremail{
    margin-top: 50px;
}

body {
    margin: 0px;
}

#header {
    display: flex;
    margin-top: 20px;
}

#emailform{
    width: 300px;
    height: 40px;
    border:1px solid gray;
    margin-left: 50px;
    border-radius: 5px;
}
#containeremail{
    display: flex;
    flex-direction : column;
    /* justify-content: center; */
    width: 300px;
    height:150px;
    border:1px solid black;

}
#passcon{
    margin-top: 20px;
}
#passwordform{
    width: 300px;
    height: 40px;
    border:1px solid gray;
    margin-left: 10px;
    border-radius: 5px;
}

#loginbutton{
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 40px;
    margin-top: 20px;
}
/* #content {
    /* background-image: url("https://amymhaddad.s3.amazonaws.com/morocco-blue.png"); */
/* background-image: url("./images/BANNER\ MENU\ RECOMMEND.png"); */
/* background-color: green;
    width: 1480px;
    height: 200px;
    margin-top: 30px;
} */
*/ .container {
    width: 1530px;
    height: 500px;
    /* margin-left: auto;
    margin-right: auto; */
}

#myCarousel {
    width: 100%;
    height: 250px;
    margin-left: auto;
    margin-top: 20px;
}

/* .carousel-indicators{
    margin-top: 150px;
}

.carousel slide{
    margin-top: 150px;
} */

#leftcarousell {
    margin-top: 200px;
}

/* #menurecommend {
    width: 100%;
    height: 80%;
    object-fit: cover;
    margin-top:  -120px;
} */

#logo {
    /* max-height: 106px;
    height: auto;
    max-width: 100%;
    width: 90PX; */
    width: 90PX;
    height: 90px;
}

#logocontainer {
    margin-left: 50px;
}

#location {

    max-height: 47px;
    height: auto;
    max-width: 100%;
    width: 40PX;
}

#location-detail {
    color: green;
    font-size: 12px;
}


#mediumheaderbar {
    height: 65 px;
    /* height: auto; */
    /* max-width: 100%; */
    width: 1000px;
    background-color: white;
    margin-left: 50px;
}

.mhbul {
    height: 35 px;
    background-color: white;
    display: flex;
    margin-top: 50px;


}

.mhbul a {
    color: green;
    font-size: 18px;
}

#mhb2 {

    margin-left: 20PX;
}

#mhb3 {
    margin-left: 25PX;
}

#mhb4 {
    margin-left: 30PX;
}

ul {
    list-style-type: none;
}

a {

    text-decoration: none;
}

#leftcarousel {
    margin-top: 150px;
    width: 80px;
    height: 100px;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none !important;
    filter: none !important;
}
#findus{
    width: 300px;
}
#finduscontainer {
    margin-top: 20px;
    height: 30px;
    width: 180px;
    background-color: white;
}

#finduscontainer a {
    text-decoration: none;
}

.fucl {
    height: 35 px;
    display: flex;
    margin-top: 30px;
    width: 200PX;
}

#fuc1 {
    width: 200px;
}

#fuc2 {
    margin-top: 8px;
    margin-left: 30px;
    width: 100px;

}

#imglang{
    margin-left: -5px;
}

#changelang{
    margin-left: 5px;
    color: green;
    font-size: 12px;
}

#content {
    color: white;
    text-align: center;
    padding: 150px 0;
    font-size: 30px;
}

#menudiv {
    margin-top: 150px;
    width: 1480px;
    height: 50px;
    /* border: 2px solid green; */
}

#searchicon {
    width: 50px;
}

#containermenu {
    width: 1480px;
    margin-top: 20px;
    /* height: ; */
    margin-left: 0px;
    height: 1000px;
    /* border: 2px solid green; */
    display: flex;
}

#leftside {
    /* border: 2px solid black; */
    width: 280px;
    height: 150px;
    margin-left: 50px;
    /* margin-bottom: 10px; */
}

#leftsidebar {
    width: 250px;
    height: 30px;
    margin-left: 10px;
    border: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

#rightside {
    /* border: 2px solid red; */

    width: 1100px;
    height: 1200px;
    margin-left: 10px;

    font-size: 20px;

}
#rightside p{
    margin-left: 0px;
}
input[type=text] {
    width: 1200px;
    height: 40px;
    margin-left: 100px;
    border: 5px solid green;
    /* position: relative; */
    height: 60 px;
    border-radius: 4px;
}

#c1 {
    width: 150px;
    height: 150px;

}


.card-wrapper{
    display: flex;
    justify-content: space-around;
}

.card{
    width: 250px;
    height: 450px;
}

.card-title{
    font-size: 14px;
}

.card-text{
    font-size: 12px;
    /* margin-left: -25px; */
}



.card-body{
    width: 250px;
    height: 200px;
    margin-left: 120px;
    margin-top: 3px;
}
.swiper{
    width: 450px;
    height: 450px;
    border: none;
}



#img-card{
 width: 250px;
 height: 250px;
 margin-left: 120px;
margin-top: 15px;
 margin-bottom: 20px;
 
}
#food{
    margin-top: 20px;
}

#registerbutton{
    margin-left: 10px;
    font-size: 20px;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    width: 250px;
    height: 40px;
    margin-top: 20px;
}